spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/smarthouse
    username: smarthouse
    password: 571564
  jpa:
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: validate
logging:
  level:
    org:
      hibernate:
        SQL: debug
#    com.alexsoft.smarthouse: trace