spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/smarthouse
  jpa:
    properties:
      hibernate:
        format_sql: true
logging:
  level:
    org:
      hibernate:
        SQL: debug
#    com.alexsoft.smarthouse: trace