mqtt:
  msgSavingEnabled: false
spring:
  jpa:
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: validate
logging:
  level:
    org:
      hibernate:
        SQL: debug
#    com.alexsoft.smarthouse: trace