<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<meta charset="UTF-8" />
	<title>Average values</title>
</head>
<body>
<table cellspacing="2" border="1" cellpadding="5" width="600">
	<thead>
	<tr>
		<th> Date </th>
		<th> Temp </th>
		<th> RH </th>
		<th> AH </th>
		<th> IAQ </th>
		<th> SIAQ </th>
		<th> IAQ accuracy </th>
		<th> Gas Resistance </th>
		<th> MAX IAQ </th>
		<th> PM 2.5 </th>
		<th> PM 10 </th>
		<th> CO2 </th>
		<th> VOC </th>
		<th> Temp (A) </th>
		<th> RH (A) </th>
		<th> AH (A) </th>
		<th> WIND DIR </th>
		<th> WIND SPEED </th>
	</tr>
	</thead>
	<tbody>
	<tr th:if="${mstates.empty}">
		<td colspan="2"> No Measures Available </td>
	</tr>
	<tr th:each="hst : ${mstates}">
		<td><span th:text="${hst.messageReceived}"> DATE </span></td>
		<td><span th:text="${hst.getOutdoorHeat().getTempCelsius()}"> Temp </span></td>
		<td><span th:text="${hst.getOutdoorHeat().getRelativeHumidity()}"> RH </span></td>
		<td><span th:text="${hst.getOutdoorHeat().getAbsoluteHumidity()}"> AH </span></td>
		<td><span th:text="${hst.getOutdoorAqi().getIaq()}"> IAQ </span></td>
		<td><span th:text="${hst.getOutdoorAqi().getStaticIaq()}"> SIAQ </span></td>
		<td><span th:text="${hst.getOutdoorAqi().getIaqAccuracy()}"> IAQ accuracy </span></td>
		<td><span th:text="${hst.getOutdoorAqi().getIntGasResistance()}"> Gas Resistance </span></td>
		<td><span th:text="${hst.getOutdoorAqi().getMaxIaq()}"> MAX IAQ </span></td>
		<td><span th:text="${hst.getOutdoorAqi().getPm25()}"> PM 2.5 </span></td>
		<td><span th:text="${hst.getOutdoorAqi().getPm10()}"> PM 10 </span></td>
		<td><span th:text="${hst.getOutdoorAqi().getCo2()}"> CO2 </span></td>
		<td><span th:text="${hst.getOutdoorAqi().getVoc()}"> VOC </span></td>
		<td><span th:text="${hst.getAirportHeat().getTempCelsius()}"> Temp (A) </span></td>
		<td><span th:text="${hst.getAirportHeat().getRelativeHumidity()}"> RH (A) </span></td>
		<td><span th:text="${hst.getAirportHeat().getAbsoluteHumidity()}"> AH (A) </span></td>
		<td><span th:text="${hst.getWindIndications().getDirection()}"> WIND DIR </span></td>
		<td><span th:text="${hst.getWindIndications().getSpeed()}"> WIND SPEED </span></td>
	</tr>
	</tbody>
</table>
<br>
<br>
<table cellspacing="2" border="1" cellpadding="5" width="600">
	<thead>
	<tr>
		<th> Date </th>
		<th> Temp </th>
		<th> RH </th>
		<th> AH </th>
		<th> IAQ </th>
		<th> SIAQ </th>
		<th> IAQ accuracy </th>
		<th> Gas Resistance </th>
		<th> MAX IAQ </th>
		<th> PM 2.5 </th>
		<th> PM 10 </th>
		<th> CO2 </th>
		<th> VOC </th>
		<th> Temp (A) </th>
		<th> RH (A) </th>
		<th> AH (A) </th>
		<th> WIND DIR </th>
		<th> WIND SPEED </th>
	</tr>
	</thead>
	<tbody>
	<tr th:if="${hstates.empty}">
		<td colspan="2"> No Measures Available </td>
	</tr>
	<tr th:each="hst : ${hstates}">
		<td><span th:text="${hst.messageReceived}"> DATE </span></td>
		<td><span th:text="${hst.getOutdoorHeat().getTempCelsius()}"> Temp </span></td>
		<td><span th:text="${hst.getOutdoorHeat().getRelativeHumidity()}"> RH </span></td>
		<td><span th:text="${hst.getOutdoorHeat().getAbsoluteHumidity()}"> AH </span></td>
		<td><span th:text="${hst.getOutdoorAqi().getIaq()}"> IAQ </span></td>
		<td><span th:text="${hst.getOutdoorAqi().getStaticIaq()}"> SIAQ </span></td>
		<td><span th:text="${hst.getOutdoorAqi().getIaqAccuracy()}"> IAQ accuracy </span></td>
		<td><span th:text="${hst.getOutdoorAqi().getIntGasResistance()}"> Gas Resistance </span></td>
		<td><span th:text="${hst.getOutdoorAqi().getMaxIaq()}"> MAX IAQ </span></td>
		<td><span th:text="${hst.getOutdoorAqi().getPm25()}"> PM 2.5 </span></td>
		<td><span th:text="${hst.getOutdoorAqi().getPm10()}"> PM 10 </span></td>
		<td><span th:text="${hst.getOutdoorAqi().getCo2()}"> CO2 </span></td>
		<td><span th:text="${hst.getOutdoorAqi().getVoc()}"> VOC </span></td>
		<td><span th:text="${hst.getAirportHeat().getTempCelsius()}"> Temp (A) </span></td>
		<td><span th:text="${hst.getAirportHeat().getRelativeHumidity()}"> RH (A) </span></td>
		<td><span th:text="${hst.getAirportHeat().getAbsoluteHumidity()}"> AH (A) </span></td>
		<td><span th:text="${hst.getWindIndications().getDirection()}"> WIND DIR </span></td>
		<td><span th:text="${hst.getWindIndications().getSpeed()}"> WIND SPEED </span></td>
	</tr>
	</tbody>
</table>

</body>
</html>